<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.velocity.coding.mapper.ITerminalMapper">
	<resultMap type="com.velocity.coding.entity.Terminal" id="terminal">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP" />

		<result column="ACTIVE" property="active" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
		FROM TERMINAL a where 1=1
		<if test="param.name != null and param.name != ''">
 AND a.NAME = #{param.name}
</if>
<if test="param.birthBeginDate != null and param.birthBeginDate != ''">
 AND to_char(a.BIRTH_DATE, 'YYYY-MM-DD') <![CDATA[>=]]> #{param.birthBeginDate}
</if>
<if test="param.birthEndDate != null and param.birthEndDate != ''">
 AND to_char(a.BIRTH_DATE, 'YYYY-MM-DD') <![CDATA[<=]]> #{param.birthEndDate}
</if>

		<if test="param.createDateBegin != null and param.createDateBegin != ''">
            AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[>=]]> #{param.createDateBegin}
        </if>
        <if test="param.createDateEnd != null and param.createDateEnd != ''">
            AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[<=]]> #{param.createDateEnd}
        </if>
	</sql>
	
	<!-- 根据ID查找 -->
	<select id="getById" resultMap="terminal">
    	SELECT * FROM TERMINAL WHERE ID = #{id, jdbcType=VARCHAR}
  	</select>
  	
  	<!-- 多条件查找 -->
  	<select id="getData" resultMap="terminal">
    	SELECT * FROM TERMINAL WHERE ID = #{param.id, jdbcType=VARCHAR}
  	</select>
  	
  	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="terminal">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	<select id="queryAll" resultMap="terminal">
		SELECT a.* FROM TERMINAL a
			order by a.CREATE_TIME desc
	</select>
  	
  	<!-- 新增 -->
  	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO TERMINAL
		  (ID,
		   NAME,
BIRTH_DATE,

		   VERSION,
		   CREATE_TIME,
		   CREATE_BY,
		   REMARKS)
		VALUES
		  (#{param.id, jdbcType=VARCHAR},
		   #{param.name, jdbcType=VARCHAR},
#{param.birthDate, jdbcType=TIMESTAMP},

		   #{param.version, jdbcType=INTEGER},
		   #{param.createTime, jdbcType=TIMESTAMP},
		   #{param.createBy, jdbcType=VARCHAR},
		   #{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量新增 -->
	<insert id="saveBatch">
		INSERT INTO TERMINAL
		  (ID,
		   NAME,
BIRTH_DATE,

		   VERSION,
		   CREATE_TIME,
		   CREATE_BY,
		   REMARKS)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
		  (#{item.id, jdbcType=VARCHAR},
		   #{param.name, jdbcType=VARCHAR},
#{param.birthDate, jdbcType=TIMESTAMP},

		   #{item.version, jdbcType=INTEGER},
		   #{item.createTime, jdbcType=TIMESTAMP},
		   #{item.createBy, jdbcType=VARCHAR},
		   #{item.remarks, jdbcType=VARCHAR})
		</foreach>  
	</insert>
	
	<update id="update">
		UPDATE TERMINAL a
		<set>
		<if test="param.name != null and param.name != ''">
 a.NAME = #{param.name, jdbcType=VARCHAR},
</if>
<if test="param.birthDate != null and param.birthDate != ''">
 a.BIRTH_DATE = #{param.birthDate, jdbcType=TIMESTAMP},
</if>

		a.UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		a.UPDATE_BY = #{param.updateBy, jdbcType=VARCHAR}
		</set>
		WHERE a.ID = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<!-- 根据ID删除-->
	<delete id="deleteById">
		delete from TERMINAL a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
	
	<!-- 多条件删除 -->
	<delete id="delete">
		delete from TERMINAL a where a.ID = #{param.id, jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据ID批量删除-->
	<delete id="deleteByIds">
		delete from TERMINAL a where a.ID in (
		<foreach collection="ids" item="id" index="index" separator="," >
		  #{id, jdbcType=VARCHAR}
		</foreach>)
	</delete>
</mapper>